<li class="movie-item" data-movie-id="<%- movie.id %>">
	<span class="movie-name"><%- movie.name %></span>

	<% if (movie.a) { %>
		<span class="movie-watch movie-a">A</span>
	<% } %>
	<% if (movie.s) { %>
		<span class="movie-watch movie-s">S</span>
	<% } %>

	<div class="movie-details hidden">
		<% if (!movie.a) { %>
			<a href="javascript:void(0);" class="watched-by" data-id="<%- movie.id %>">
				A has watched
			</a>
		<% } %>

		<% if (!movie.s) { %>
			<a href="javascript:void(0);" class="watched-by" data-id="<%- movie.id %>">
				S has watched
			</a>
		<% } %>

		<span class="watched-both <%- movie.a && movie.s ? "" : "hidden" %>">Watched by both :)</span>
	</div>
</li>