<li class="movie-item" data-a="<%- movie.a %>" data-s="<%- movie.s %>">
	<span class="movie-name"><%- movie.name %></span>

	<span class="movie-watch movie-a <%- movie.a ? "" : "hidden" %>">A</span>
	<span class="movie-watch movie-s <%- movie.s ? "" : "hidden" %>">S</span>

	<div class="movie-details hidden">
		<a href="javascript:void(0);" class="watched-by a <%- !movie.a ? "" : "hidden" %>" 
			data-id="<%- movie.id %>" data-a="true">
			A has watched
		</a>

		<a href="javascript:void(0);" class="watched-by s <%- !movie.s ? "" : "hidden" %>" 
			data-id="<%- movie.id %>" data-s="true">
			S has watched
		</a>

		<span class="watched-both <%- movie.a && movie.s ? "" : "hidden" %>">
			Watched by both :)
		</span>
	</div>
</li>